
{{ define "main" }}
<div class="container">
    <div class="border-content">
        <article class="main-area">
            {{ range (.Paginator 15).Pages }}
            <div class="list-item">
                <a href="{{ .RelPermalink }}">
                    <p class="list-tag">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-calender"></use>
                        </svg>
                        {{ dateFormat "Jan 2, 2006" .Date }} <em>|</em>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-time"></use>
                        </svg>
                        {{ .Params.podcast_duration }} <em>|</em>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-view"></use>
                        </svg><i class="leancloud_visitors" id={{ .URL }} data-title={{ .Title }}></i>
                      </p>
                    <h2>#{{ .Params.episode }} {{ .Title }}</h2>
                </a>
            </div>
            {{ end }}
        {{- partial "paginator.html" . }}
        </article>
        {{- partial "sidebar.html" . }}
    </div>
</div>
{{ end }}