{{ define "main" }}

<div class="container">
  <div class="border-content">
    <div class="main-area">
        <article class="list-item">
            <p class="list-tag">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-calender"></use>
              </svg>
              {{ dateFormat "Jan 2, 2006" .Date }} <em>|</em>
              <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-time"></use>
              </svg>
              {{ .Params.podcast_duration }} <em>|</em>
              <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-view"></use>
              </svg><i class="leancloud_visitors" id={{ .URL }} data-title={{ .Title }}></i>
            </p>
            <h2>#{{ .Params.episode }} {{ title .Title }}</h2>
            <div class="podcast-header">
                <audio class="podcast-audio" src="{{ .Params.media_prefix }}{{ .Params.podcast_file }}" controls preload="metadata"></audio>
                <p class="podcast-header-des">{{ .Description | markdownify }}</p>
            </div>
            
            <div class="podcast-content">
                {{ .Content }}
            </div>
            
            {{- partial "podcastsubscribeinfo.html" . }}   

            <!-- donate start -->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-format="fluid"
                data-ad-layout-key="-6t+ed+2i-1n-4w"
                data-ad-client="ca-pub-1425368802546894"
                data-ad-slot="4709849129"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <!-- donate end -->
            <div class="podcast-footer">
                {{ with .Site.Params.disqusShortname }}
                <!-- disqus begins -->
                <div class="disqus-plugin">
                    {{ partial "disqus.html" }}
                </div>
                <!-- disqus ends -->
                {{ end }}
      
                <!-- pager begin -->
                <nav class="pager-plugin">
                  <div class="pagination">
                    {{ if .PrevInSection }}
                      <div class="page-item">
                        <a href="{{.PrevInSection.Permalink}}" class="page-link">
                          <span aria-hidden="true">&larr;</span> 上一期：
                          #{{ .PrevInSection.Params.episode }} {{ title .PrevInSection.Title }}</a>
                        </div>
                    {{ end }}
                    {{ if .NextInSection }}
                      <div class="page-item">
                        <a href="{{.NextInSection.Permalink}}" class="page-link">
                          <span aria-hidden="true">&rarr;</span> 下一期：
                          #{{ .NextInSection.Params.episode }} {{ title .NextInSection.Title }}
                        </a>
                      </div>
                    {{ end }}
                  </div>
                </nav>
                <!-- pager end -->
            </div>
            
        </article>
    </div>
    
    {{- partial "sidebar.html" . }}
  </div>
</div>

{{ end }}
