{{ define "main" }}

<div class="container">
  <div class="border-content">
      <div class="main-area">
      <article class="list-item article article-single">
          <p class="list-tag">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-calender"></use>
            </svg>
            {{ dateFormat "Jan 2, 2006" .Date }} <em>|</em>

            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-tag"></use>
            </svg>
            {{ range .Params.tags }}
                <a href="/tags/{{ . }}">{{ . }}</a>
            {{ end }} <em>|</em>
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-view"></use>
            </svg><i class="leancloud_visitors" id={{ .URL }} data-title={{ .Title }}></i>
          </p>
          <h2>{{ title .Title }}</h2>
    
          <div class="podcast-content">
              {{ .Content }}
          </div>

          <!-- donate start -->
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <ins class="adsbygoogle"
              style="display:block"
              data-ad-format="fluid"
              data-ad-layout-key="-6t+ed+2i-1n-4w"
              data-ad-client="ca-pub-1425368802546894"
              data-ad-slot="4709849129"></ins>
          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          <!-- donate end -->
          <div class="podcast-footer">
              <!-- disqus begins -->
              <div class="disqus-plugin">
                  {{- partial "disqus.html" . }}
              </div>
              <!-- disqus ends -->
    
               <!-- pager begin -->
              <nav class="pager-plugin">
                <div class="pagination">
                  {{ if .PrevInSection }}
                    <div class="page-item">
                      <a href="{{.PrevInSection.Permalink}}" class="page-link">
                        <span aria-hidden="true">&larr;</span> 上一篇：
                        {{ title .PrevInSection.Title }}</a>
                      </div>
                  {{ end }}
                  {{ if .NextInSection }}
                    <div class="page-item">
                      <a href="{{.NextInSection.Permalink}}" class="page-link">
                        <span aria-hidden="true">&rarr;</span> 下一篇：
                        {{ title .NextInSection.Title }}
                      </a>
                    </div>
                  {{ end }}
                </div>
              </nav>
              <!-- pager end -->
          </div>
           
      </article>
      </div>
      {{- partial "sidebar.html" . }}
  </div>
</div>

{{ end }}
