/* Put your custom styles here and run `npm start` from the "src" directory on */
body {
    font: 300 16px/1.8 -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,'Myriad Pro','PingFang SC','Microsoft YaHei', "Helvetica Neue",Arial,sans-serif;
     /* -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    color: #112c22;
    background-color: #f6f6f7;
}
img {
    max-width: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}
b, strong {
    font-weight: bold;
    color: #dc9810;
}
i.fa { margin-right: 6px }
p { word-break: break-all; margin: 0; }
audio {
    width: 100%;
}
.icon {
    width: 1em;
    height: 1em;
    margin-right: 4px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.mobile-size {
    display: none;
}
hr {
    margin: 0 0 8px 0;
    border: 0;
    height: 2px;;
    border-top: 1px solid #112c22;
    border-bottom: 1px solid #112c22;
}
h1,h2 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 16px 0;
}
h3 {
    font-size: 1.2em;
    margin: 2em 0 0.2em 0;
}
h4,h5,h6 {
    font-size: 1em;
    margin: 2em 0 0.2em 0;
}
.anobody-header {
    /* font-family: Poppins; */
    margin-bottom: 22px;
}
.anobody-footer a,
.navgation li a {
    color: #112c22;
    vertical-align: middle;
    transition: color 0.3s;
}
.anobody-footer a:hover,
.navgation li a:hover {
    color: #dc9810;
}
.anobody-header .header-logo {
    width: 48px;
    display: inline-block;
    font-size: 0;
}
.navgation {
    padding: 8px 0;
    background: #fff;
}
.navgation li {
    list-style: none;
    display: inline-block;
    margin: 0 12px;
}
.subscribe-group {
    text-transform: none;
    list-style: none;
    overflow: hidden;
    max-width: 1060px;
    margin: 0 auto;
}
.subscribe-group li { float: right; }
#content .subscribe-group li { float: left; }
.subscribe-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 0;
    margin: 6px;
    opacity: 0.8;
    border-radius: 5px;
    background: url(https://static.anobody.im/images/subscribeicon.jpg) -3px -2px;
    background-size: 360px;
}
.subscribe-icon.apple {
    background-position: -3px -2px;
}
.subscribe-icon.spotify {
    background-position: -75px -2px;
}
.subscribe-icon.rss {
    background-position: -75px -39px;
}
.subscribe-icon.breaker {
    background-position: -255px -2px;
}
.subscribe-icon.himalaya {
    background-position: -219px -2px;
}
.subscribe-icon.overcast {
    background-position: -39px -2px;
}
.subscribe-icon.google {
    background-position: 32px -2px;
    border-radius: 50%;
}
.subscribe-icon.playerfm {
    background-position: -3px -38px;
    border-radius: 50%;
}
.subscribe-icon.moonfm {
    background-position: -39px -39px;
    border-radius: 50%;
}
.subscribe-icon.xiaoyuzhou {
    background-position: -183px -2px;
}
.subscribe-icon.pca {
    background-position: -111px -2px;
}

.anobody-footer {
    overflow: hidden;
    margin: 28px;
}
.anobody-footer li {
    list-style: none;
    float: right;
    margin: 0 8px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.container {
    max-width: 1060px;
    margin: 0 auto;
    position: relative;
}
.card-content,
.list-item,
.author-card,
.recommend-card  {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 12px 0;
    padding: 1rem;
}
.border-content {
    /* border: 1px solid #112c22; */
    /* padding: 28px; */
    overflow: hidden;
    display: flex;
}
.main-area {
    /* width: 680px; */
    /* float: left; */
    /* border-right: 1px solid #112c22; */
    padding-right: 28px;
    max-width: 860px;
    flex: 3;
}
.sidebar {
    /* width: 288px; */
    /* padding-left: 28px; */
    /* float: left; */
    /* margin-left: -1px; */
    /* border-left: 1px solid #112c22; */
    flex: 1;
}
.adsbygoogle {
    width: 100%;
    overflow: hidden;
}
.list-item {
    padding-right: 28px;
}
.list-item .list-tag {
    font-size: 0.85em;
    opacity: 0.7;
}
.list-item .list-tag em {
    margin: 0 18px;
}
.list-item .icon-play {
    float: right;
    font-size: 32px;
    opacity: 0.5;
    margin: 12px;
}
.podcast-audio {
    margin: 12px 0;
}
.page-item {
    margin: 12px;
    text-align: right
}
.coffee-img {
    display: flex;
    justify-content: space-around;
}
.coffee-img .img-fluid {
    width: 48%;
    height: auto;
    align-self: center;
}
.sidebar .author-card,
.sidebar .recommend-card {
    font-size: 0.8rem;
}
.author-card {
    text-align: center;
}
.author-logo {
    width: 58px;
    border-radius: 50%;
}
.author-socials {
    font-size: 1.2rem;
    margin-top: 8px;
}
.author-socials li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
}
.author-socials li a,.recommend-card a {
    transition: color 0.3s;
}
.author-socials li a:hover,
.recommend-card a:hover {
    color: #dc9810;
}
.recommend-card h4 {
    margin: 0;
}
.recommend-card li {
    list-style: none;
}
ul, ol {
    margin: 0;
    padding: 0;
}
li {
    margin: 0 0 10px 0;
    list-style-position: inside;
}
li p {
    display: inline;
}
.article p {
    margin-bottom: 1.2em;
}
.podcast-content a {
    text-decoration: none;
    padding: 0 3px;
    border-bottom: 1px solid #dc9810;
    transform: border 0.3s;
}
.podcast-content a:hover {
    border-width: 2px;
}
.list-tag a:before,
.list-tag a:after {
    content: '[';
    margin: 0 2px;
    color: gray;
}
.list-tag a:after {
    content: ']';
}
blockquote {
    margin: 1em 0;
    padding-left: 20px;
    border-left: 4px solid #42b983;
    color: gray;
    text-align: left;
}
.img-title {
    margin-bottom: 20px;
}
.txc {
    text-align: center;
}
.social-list a {
    border: none;
}
.social-list a:hover {
    color: #dc9810;
    transition: 0.3s;
}

@media only screen and (max-width :800px){
    .mobile-size {
        display: block;
    }
    .container {
        width: 100%;
    }
    body {
        font-size: 14px;
    }
    .sidebar,
    .main-area {
        position: static;
        width: 100%;
        border: none;
        padding: 0;
    }
    .list-item {
        /* padding: 0; */
    }
    .border-content {
        display: block;
        margin: 16px;
        padding: 16px;
    }
}