/* Put your custom styles here and run `npm start` from the "src" directory on */
body {
    font: 300 16px/1.8 Optima-Regular, PingFangTC-light, serif;
    color: #112c22;
}
img {
    max-width: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}
b, strong {
    font-weight: bold;
    color: #dc9810;
}
i.fa { margin-right: 6px }
p { word-break: break-all; margin: 0; }
audio {
    width: 100%;
}
.mobile-size {
    display: none;
}
hr {
    margin: 20px 0;
    border: 0;
    height: 2px;;
    border-top: 1px solid #112c22;
    border-bottom: 1px solid #112c22;
}
h1,h2 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 16px 0;
}
h3 {
    font-size: 1.2em;
    margin: 2em 0 0.2em 0;
}
h4,h5,h6 {
    font-size: 1em;
    margin: 2em 0 0.2em 0;
}
.anobody-header {
    text-align: center;
    text-transform: uppercase;
    font-family: Poppins;
}
.anobody-footer a,
.navgation li a {
    color: #112c22;
}
.anobody-header .header-logo {
    margin-top: 120px;
    width: 168px;
    display: inline-block;
}
.navgation li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
}
nav.subscribe {
    border-bottom: 3px solid #112c22;
}
.subscribe-group {
    text-transform: none;
    list-style: none;
    overflow: hidden;
    max-width: 1060px;
    margin: 0 auto;
}
.subscribe-group li { float: right; }
#content .subscribe-group li { float: left; }
.subscribe-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 0;
    margin: 6px;
    opacity: 0.8;
    border-radius: 5px;
    background: url(https://static.anobody.im/images/subscribeicon.jpg) -3px -2px;
    background-size: 360px;
}
.subscribe-icon.apple {
    background-position: -3px -2px;
}
.subscribe-icon.spotify {
    background-position: -75px -2px;
}
.subscribe-icon.rss {
    background-position: -75px -39px;
}
.subscribe-icon.breaker {
    background-position: -255px -2px;
}
.subscribe-icon.himalaya {
    background-position: -219px -2px;
}
.subscribe-icon.overcast {
    background-position: -39px -2px;
}
.subscribe-icon.google {
    background-position: 32px -2px;
    border-radius: 50%;
}
.subscribe-icon.playerfm {
    background-position: -3px -38px;
    border-radius: 50%;
}
.subscribe-icon.moonfm {
    background-position: -39px -39px;
    border-radius: 50%;
}
.subscribe-icon.xiaoyuzhou {
    background-position: -183px -2px;
}
.subscribe-icon.pca {
    background-position: -111px -2px;
}

.anobody-footer {
    overflow: hidden;
    margin: 28px;
}
.anobody-footer li {
    list-style: none;
    float: right;
    margin: 0 8px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.container {
    width: 1060px;
    margin: 0 auto;
    position: relative;
}
.border-content {
    border: 1px solid #112c22;
    overflow: hidden;
    padding: 28px;
}
.main-area {
    width: 680px;
    float: left;
    border-right: 1px solid #112c22;
}
.sidebar {
    width: 288px;
    padding-left: 28px;
    float: left;
    margin-left: -1px;
    border-left: 1px solid #112c22;
}
.list-item {
    padding-right: 28px;
}
.list-item .list-tag {
    font-size: 0.85em;
    opacity: 0.7;
}
.list-item .list-tag em {
    margin: 0 18px;
}
.list-item .icon-play {
    float: right;
    font-size: 32px;
    opacity: 0.5;
    margin: 12px;
}
.podcast-audio {
    margin: 12px 0;
}
.page-item {
    margin: 12px;
    text-align: right
}
.coffee-img {
    display: flex;
    justify-content: space-around;
}
.coffee-img .img-fluid {
    width: 48%;
    height: auto;
    align-self: center;
}
.sidebar li {
    list-style: none;
    margin: 0 0 10px 0;
}
ul, ol {
    margin: 0;
    padding: 0;
}
li {
    margin: 0 0 10px 0;
    list-style-position: inside;
}
li p {
    display: inline;
}
.article p {
    margin-bottom: 1.2em;
}
.podcast-content a,
.sidebar a {
    text-decoration: none;
    padding: 0 3px;
    border-bottom: 1px solid #dc9810;
}
.podcast-content a:hover,
.sidebar a:hover  {
    border-width: 2px;
}
.list-tag a:before,
.list-tag a:after {
    content: '[';
    margin: 0 2px;
    color: gray;
}
.list-tag a:after {
    content: ']';
}
blockquote {
    margin: 1em 0;
    padding-left: 20px;
    border-left: 4px solid #42b983;
    color: gray;
    text-align: left;
}
.img-title {
    margin-bottom: 20px;
}
.txc {
    text-align: center;
}
.social-list a {
    border: none;
}
.social-list a:hover {
    color: #dc9810;
    transition: 0.3s;
}
@media only screen and (max-width :800px){
    .mobile-size {
        display: block;
    }
    .container {
        width: 100%;
    }
    body {
        font-size: 14px;
    }
    .sidebar,
    .main-area {
        position: static;
        width: 100%;
        border: none;
        padding: 0;
    }
    .list-item {
        padding: 0;
    }
    .border-content {
        margin: 16px;
        padding: 16px;
    }
}