/* Put your custom styles here and run `npm start` from the "src" directory on */
body {
    font: 300 16px/1.8 Merriweather, proxima-nova, 'Myriad Pro',serif;
    background: #F8F7F6;
    color: #3D3634;
}
img {
    max-width: 100%;
}
a {
    color: #dc9810;
    text-decoration: none;
}
i.fa { margin-right: 2px }
p { word-break: break-all; }
h1, h2, h3, h4, h5, h6 {
    color: #112c22;
}
audio {
    width: 100%;
}
hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid color-border;
}
.anobody-header,
.anobody-footer {
    text-align: center;
    font-family: fantasy;
    margin: 12px;
    text-transform: uppercase;
} 
.anobody-footer a {
    color: #3D3634;
}
.anobody-header .header-logo {
    margin-top: 22px;
    width: 66px;
    display: inline-block;
}
.subscribe-group {
    text-align: center;
    margin-bottom: 28px;
}
.subscribe-group .btn {
    display: inline-block;
    font-size: 0.8em;
    margin: 6px;
    color: #3D3634;
    border: 1px solid #3D3634;
    padding: 4px 8px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.main-area {
    padding-right: 290px;
    box-sizing: border-box;
}
.sidebar {
    position: absolute;
    width: 260px;
    top: 0;
    right: 0;
    padding: 0 18px 18px;
}
#breadcrumbs {
    margin-bottom: 6px;
}
.list-item {
    background: #fff;
    padding: 5px 20px 20px 20px;
    margin-bottom: 20px;
}
.podcast-header {
    display: flex;
    justify-content: space-around;
}
.podcast-header-left {
    width: 25%;
}
.podcast-header-right {
    width: 65%;
}
.podcast-audio {
    margin: 12px 0;
}
.page-item {
    margin: 12px;
    text-align: right
}
.coffee-img {
    display: flex;
    justify-content: space-around;
}
.coffee-img .img-fluid {
    width: 48%;
    height: auto;
}
.navgation ul {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
.navgation li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
}
.sidebar li {
    list-style: none;
    margin: 0 0 10px 0;
    color: #db4d52;
}
ul, ol {
    margin: 0;
    padding: 0;
}
li {
    margin: 0 0 10px 0;
    list-style-position: inside;
}
li p {
    display: inline;
}
.article {
    background: #fff;
    padding: 5px 20px 20px 20px;
    margin-bottom: 20px;
    font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,Microsoft YaHei,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,Arial,sans-serif;
}
.article a:before,
.article a:after {
    content: '[';
    margin: 0 2px;
    color: #a0a0a0;
}
.article a:after {
    content: ']';
}
blockquote {
    margin: 2em 0;
    padding-left: 20px;
    border-left: 4px solid #42b983;
    color: gray;
    text-align: left;
}    
@media only screen and (max-width :640px){
    .podcast-header {
        display: block;
        text-align: center;
    }
    .podcast-header-left,
    .podcast-header-right {
        width: 100%;
    }
    .podcast-header-des {
        text-align: left;
    }
    .sidebar {
        position: static;
        width: 100%;
        box-sizing: border-box;
    }
    .main-area {
        padding: 10px;
    }
}