
{{ define "main" }}
{{- partial "subscribe.html" . }}
<div class="container">
    <article class="main-area">
    {{- partial "breadcrumbs.html" . }}
    <!-- this <div> includes the title summary -->
    {{ range first 10 .Pages }}
    <div class="list-item">
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <p>
          <i class="fa fa-calendar"></i>{{ dateFormat "Jan 2, 2006" .Date }} | 
          <i class="fa fa-tags"></i>
          {{ range .Params.tags }}
              <a href="/tags/{{ . }}">{{ . }}</a>
          {{ end }}
      </p>
    </div>
  {{ end }}
    
</article>
{{- partial "sidebar.html" . }}
</div>
{{ end }}