<footer class="anobody-footer" role="contentinfo">
  <div class="container">
    <hr/>
    <div class="left">
        © {{ now.Format "2006" }} {{ .Site.Params.author }} | <small>技术部 小刘</small>
    </div>
    <div class="right">
      <ul class="social-list">
        <li><a href="mailto:anobody.fm@gmail.com" title="emailtoanobody"><svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-email"></use>
        </svg></a></li>
        <li><a href="https://t.me/joinchat/HZYEyxY8fwgSKcvQIwvzXQ" target="_blank" rel="nofollow" title="anobodyfm-tg"><svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-telegram"></use>
        </svg></a></li>
        <li><a href="https://twitter.com/anobodyfm" target="_blank" rel="nofollow" title="anobodyfm-twitter">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a></li>
    </ul>
    </div>
    </div>
</footer>
<!-- Google Analytics -->
{{ if .Site.Params.google_analysis }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ .Site.Params.google_analysis }}', 'auto');
  ga('send', 'pageview');

</script>
{{ end }}

{{ if .Site.Params.leancloud_visitors_appid }}
  <script src="//cdn1.lncld.net/static/js/av-core-mini-0.6.1.js"></script>
  <script>AV.initialize("{{ .Site.Params.leancloud_visitors_appid }}", "{{ .Site.Params.leancloud_visitors_appkey }}");</script>
  <script src={{"js/leancloud.js" | absURL }}></script>
{{ end }}