<div>
    <h4>如何订阅和收听</h4>
    <p>如果你不常听播客，不如从此刻开始尝试这个介质获取信息。也许能找到更多你感兴趣的话题。<br> 如果你平常有在听有声读物或者播客，那太好了！</p>
    <p>推荐在「泛用型播客客户端」直接搜索「小人物」或输入 RSS 地址找到我们（强烈欢迎在这些平台上给我们打分鼓励！）：<br>
        <a href="https://anobody.im/podcast/rss.xml">https://anobody.im/podcast/rss.xml</a></p>
    <ul>
        <li>iOS 上的「泛用型播客客户端」：Pocket Casts、Player.FM、OverCast、Spotify、Apple Podcast、Moon.FM；</li>
        <li>Android&nbsp;上的「泛用型播客客户端」：AntennaPod、Pocket Casts、Player.FM、Google Podcast、Spotify、Moon.FM。</li>
        <li>直接点击网站顶部的直达链接</li>
    </ul>
</div>