<!-- sidebar start -->
<aside class="sidebar">
    <div class="author-card">
        <img class="author-logo" src="{{ .Site.Params.author_logo }}" alt="{{ .Site.Params.author_name }} | A NOBODY PODCAST">
        <p>{{ .Site.Params.author_bio }}</p>
        <ul class="author-socials">
            {{ range $elem_key, $elem_val := $.Site.Params.author_socials }}
            <!-- {{ $elem_key }}-{{ $elem_val }} -->
            <li><a href="{{ $elem_val }}" title="-{{ $elem_key }}">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-{{ $elem_key }}"></use>
                  </svg>
            </a></li>
            {{ end }}
        </ul>
    </div>
    <div class="recommend-card">
        <p>广告位 或者<a href="/about">请阿乐喝酒🍷</a></p>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-6t+ed+2i-1n-4w"
            data-ad-client="ca-pub-1425368802546894"
            data-ad-slot="7064248406"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <div class="recommend-card">
        <h4>推荐文章</h4>
        <ul>
            {{ range $elem_key, $elem_val := $.Site.Params.top_articles }}
            <li><a href="{{ $elem_key }}" title="{{ $elem_val }}">- {{ $elem_val }}</a></li>
            {{ end }}
        </ul>
    </div>
    <div class="recommend-card">
        <h4>推荐播客</h4>
        <ul>
            {{ range $elem_key, $elem_val := $.Site.Params.top_podcasts }}
            <li><a href="{{ $elem_key }}" title="{{ $elem_val }}">{{ $elem_val }}</a></li>
            {{ end }}
        </ul>
    </div>
</aside>