{{ define "main" }}
    <main aria-role="main" class="container">
      <div class="border-content">
        <div class="main-area">
          <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
          {{ .Content }}
          <img class="img-title" alt="{{ .Title }}播客 podcast" src="https://static.anobody.im/images/podcast.jpg" />
          <!-- Note that .Pages is the same as .Site.RegularPages on the homepage template. -->
          {{ with .Site.GetPage "podcast" }}
            <article>
              <!-- this <div> includes the title summary -->
              {{ range first 5 .Pages }}
              <div class="list-item">
                <a href="{{ .RelPermalink }}">
                    <p class="list-tag">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-calender"></use>
                      </svg>
                      {{ dateFormat "Jan 2, 2006" .Date }} <em>|</em>
                      <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-time"></use>
                      </svg>
                      {{ .Params.podcast_duration }} <em>|</em>
                      <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-view"></use>
                      </svg><i class="leancloud_visitors" id={{ .URL }} data-title={{ .Title }}></i>
                    </p>
                    <h2>#{{ .Params.episode }} {{ .Title }}</h2>
                </a>
            </div>
              {{ end }}
            </article>
          {{ end }}
          <p class="txc"><a href="/podcast/">- 更多播客 -</a></p>
          <hr />
          <img class="img-title" alt="{{ .Title }}播客 article" src="https://static.anobody.im/images/article.jpg" />
          {{ with .Site.GetPage "article" }}
            <article>
              <!-- this <div> includes the title summary -->
              {{ range first 5 .Pages }}
              <div class="list-item">
                <p class="list-tag">
                  <svg class="icon" aria-hidden="true">
                      <use xlink:href="#icon-calender"></use>
                  </svg>
                  {{ dateFormat "Jan 2, 2006" .Date }} <em>|</em>

                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-tag"></use>
                  </svg>
                  {{ range .Params.tags }}
                      <a href="/tags/{{ . }}">{{ . }}</a>
                  {{ end }} <em>|</em>
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-view"></use>
                  </svg><i class="leancloud_visitors" id={{ .URL }} data-title={{ .Title }}></i>
                </p>
                <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
              </div>
              {{ end }}
            </article>
          {{ end }}
          <p class="txc"><a href="/article/">- 更多文章 -</a></p>
        </div>

        {{- partial "sidebar.html" . }}
      </div>
  </main>
{{ end }}