{{ define "main" }}
    {{- partial "subscribe.html" . }}
    <main aria-role="main" class="container">
      <div class="main-area">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{ .Content }}
        <!-- Note that .Pages is the same as .Site.RegularPages on the homepage template. -->
        {{ with .Site.GetPage "podcast" }}
          <article>
            <!-- this <div> includes the title summary -->
            {{ range .Pages }}
            <div class="list-item">
              <h2><a href="{{ .RelPermalink }}">#{{ .Params.episode }} {{ .Title }}</a></h2>
              <p><i class="fa fa-calendar"></i>{{ dateFormat "Jan 2, 2006" .Date }} | <i class="fa fa-hourglass-half"></i>{{ .Params.podcast_duration }} </p>
              {{ .Description }}
            </div>
            {{ end }}
          </article>
        {{ end }}
      </div>

      {{- partial "sidebar.html" . }}
  </main>
{{ end }}